body{
    margin: 0;
    font-family: Verdana, serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #097747;

}
.navi {
    overflow: hidden;
    background-color: #097747;
}

.navi a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navi a:hover {
    background-color: #ddd;
    color: #097747;
}

.navi a.active {
    background-color: #04AA6D;
    color: white;
}
.imgzentriert {
    display: block;
    width:100%;
    text-align: center;
    }

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333333;
}

h1 {
    color: #097747;
    font-size: 35px;
    text-align: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
<!--height: 100vh;-->
    color: #a92b98;
    text-align: center;
}


h3{
    border: 3px solid #a92b98
}

input[type="text"],

input[type="date"],
input[type="time"],
input[type="email"],
input[type="number"],
input[type="tel"],

textarea,
select {

    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto auto 30px auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

input[type="radio"],
input[type="checkbox"]

{
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #ffffff;
    background-color: #097747;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #097747;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: flex;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #097747;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}
textarea{
    resize: none;
}


form {
    margin: auto;
    max-width: 480px;
}
formcontainer{
    margin: auto;
    width: 70%;
    padding: 10px;
}